<div id="side-nav" [ngClass]=" showNavbar ? 'show' : 'hide' ">
    <div class="nav-items">
        <div class="nav-item" *ngFor="let item of navItems">
            <div class="nav-item-h">{{ item.category }}</div>
            <div class="nav-item-sub" *ngFor="let itemItem of item.data" [ngClass]="hasRoute(itemItem.route) ? 'active' : ''"  [routerLink]="itemItem.route">
                <fa-icon [icon]="itemItem.icon"></fa-icon>
                <span>{{ itemItem.label }}</span>
            </div>
        </div>
    </div>
</div>