#side-nav {
    width: max-content;
    background-color: #fff;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 30px;
}
#side-nav.hide{
    width: 0;
}
#side-nav.show{
    width: max-content;
}
.nav-items{
    .nav-item{
        padding-bottom: 10px;
        .nav-item-h{
           font-size: 16px;
           padding-left: 20px;
        }
        .nav-item-sub, .active{
            color: #aaa;
            cursor: pointer;
            padding: 10px;
            padding-top: 10px;
            padding-left: 40px;
            padding-right: 20px;
            font-size: 12px;
            &:hover{
                color: #333;
                background-color: #f5f8fc;
            }
            fa-icon {
                margin-right: 10px;
                font-size: 18px;
              }
            span{
                display: inline;
            }
        }

        .active{
            color: #fff !important;
            background-color: var(--blue-900) !important;
        }
    }
}

@media (max-width: 768px) {
    #side-nav .nav-item .nav-item-sub, .active{
        padding-left: 20px;
        padding-top: 10px;
    }
    #side-nav .nav-item  .nav-item-h, #side-nav .nav-item .nav-item-sub span{
        display: none;
    }
}