footer{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100vw;
    border-top: 1px solid #e3edfc;
    
    h6{
        font-size: small;
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        translate: 40px;
    }
}

@media (max-width: 768px){
    h6{
        translate: 0 !important;
    }
}