header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #e3edfc;
    background-content: linear-gradient(160deg, #e3edfc 0%, #fff 100%);
}
.w-logo{
    font-size: larger;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-left: 30px;
    img{
        height: 40px;
        width: 40px;
        margin-right: 10px;
        border-radius: 100%;
    }
}
.m-logo{
    font-size: medium;
    font-weight: 700;
    display: none;
    img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
        border-radius: 100%;
    }
}

@media (max-width: 768px){
    .w-logo{
        display: none;
    }
    .m-logo{
        display: flex;
        align-items: center;
    }
}