<header>
    <div class="d-flex  align-items-center">
        <div (click)="toggleNavBar()" class="pointer">
            <fa-icon [icon]="faBars"></fa-icon>
        </div>
        <div class="w-logo pointer" [routerLink]="'/'">
            <img src="/assets/logo.png" alt="logo">
            <span>AxlHnbi</span>
        </div>
    </div>
    <div class="m-logo" [routerLink]="'/'">
        <img src="/assets/logo.png" alt="logo">
        <span>AxlHnbi</span>
    </div>
    <div class="h-avatar">
        <p-avatar 
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            shape="circle" 
            size="large"
            styleClass="pointer"
            (click)="panel.toggle($event)"
        ></p-avatar>
        <p-overlayPanel #panel>
            <ng-template pTemplate="content" #elm>
                <div class="p-3">
                    <div class="d-flex flex-column align-items-center border-bottom p-2">
                        <p-avatar 
                            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                            shape="circle" 
                            size="large"
                            (click)="panel.toggle($event)"
                        >
                        </p-avatar>
                        <div class="fs-small">Developer</div>
                        <div class="fs-small">developer&#64;axlhnbi.com</div>
                    </div>
                    <div class="pt-2">
                        <button class="btn btn-clear d-block fs-small w-100 text-start" (click)="openEditProfile()">
                            <fa-icon [icon]="faEdit"></fa-icon>
                            Edit Profile
                        </button>
                        <button class="btn btn-clear d-block fs-small w-100 text-start" (click)="logout()">
                            <fa-icon [icon]="faSignOut"></fa-icon>
                            Logout
                        </button>
                    </div>
                </div>
            </ng-template>
        </p-overlayPanel>
    </div>
</header>
