<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Article
    </div>
    <app-table 
      title="Article List" 
      [data]="data"
      [searchInputData]="searchInputData"
      addDataText="Create New Article" 
      [formDataInfo]="
        { 
            module: 'Article', 
            subModule: 'Create New Article',
            title: 'Create New Article',
            backRoute: '/article',
            formData
        }"
    >
    </app-table>
</div>
