<div class="w-100 card" style="width: 30px;" *ngIf="data">
    <div class="d-flex  align-items-center w-max-content px-3 py-1"> 
        <div class="bg-primary p-3" [ngClass]="data.iconBgColorClass ? data.iconBgColorClass : ''">
            <fa-icon 
                [icon]="data.icon === 'faUserTie' ? faUserTie : data.icon === 'faUser' ? faUser : data.icon === 'faLayerGroup' ? faLayerGroup : data.icon === 'faCartShopping' ? faCartShopping : data.icon === 'faListCheck' ? faListCheck : faImage" 
                class="text-light h3"
            ></fa-icon>
        </div>
        <div class="p-2">
            <div class="h6">{{ data.data_name }}</div>
            <div class="h2"><strong>{{ data.total }}</strong></div>
        </div>
    </div>
    <div class="bg-light px-3 py-2 rounded d-flex justify-content-between pointer" [routerLink]="data.route">
        <span class="fs-small">View more</span>
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </div>
</div>
