<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Categories
    </div>
    <app-table 
      title="Categories List" 
      [data]="data"
      [searchInputData]="searchInputData"
      addDataText="Create New Category" 
      [formDataInfo]="
      { 
          module: 'Categories', 
          subModule: 'Create New Category',
          title: 'Create New Category',
          backRoute: '/categories',
          formData
      }"
    >
    </app-table>
</div>