<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / User
    </div>
    <app-table 
      title="User List" 
      [data]="data"
      [searchInputData]="searchInputData" 
      addDataText="Create New User" 
      [formDataInfo]="
      { 
          module: 'User', 
          subModule: 'Create New User',
          title: 'Create New User',
          backRoute: '/user',
          formData
      }"
    >
    </app-table>
</div>