<div class="bg-white w-100 card" *ngIf="data">
    <div class="bg-primary" [ngClass]="data.headBgColorClass ? data.headBgColorClass : ''">
        <div class="row" [ngClass]="data.headColorClass ? data.headColorClass : ''">
            <div class="col px-4 py-3 h6">
                <strong>{{ data.data_name }}</strong>
            </div>
            <div class="col px-4 py-3 h6 d-flex justify-content-end">
                <strong>{{ data.time_period }}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex  align-items-center justify-content-star px-4 py-3">
            <span>
                <strong>Total</strong>
            </span>
        </div>
        <div class="col d-flex  align-items-center px-4 justify-content-end">
            <span>
                <strong>{{ utility.setCurrency(data.total) }}</strong>
            </span>
        </div>
    </div>
    <div class="bg-light px-3 py-2 rounded d-flex justify-content-between pointer" [routerLink]="data.route">
        <span class="fs-small">View more</span>
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </div>
</div>
