<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Admin
    </div>
    <app-table 
      title="Admin List" 
      [data]="data" 
      [searchInputData]="searchInputData" 
      addDataText="Create New Administrator" 
      [formDataInfo]="
        { 
            module: 'Admin', 
            subModule: 'Create New Administrator',
            title: 'Create New Administrator',
            backRoute: '/admin',
            formData
        }"
    ></app-table>
</div>