.product-container{
    padding: 10px; 
    border-radius: 8px;
}
.product-box{
    display: flex;
    align-items: flex-start;
}
.img-box{
    border: 1px solid #aaa;
    border-radius: 8px;
    width: 150px;

    img{
        border-radius: 8px;
    }
}
.star-color{
    color: #facf5a;
}
.text-dot{
    font-size: 5px !important;
    color: #18334d;
}
.w-content-product{
    width: calc(100% - 150px);
}

@media (max-width: 500px){
    .product-box{
        display: block;
    }
    .img-box{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width: 50%;
        }
    }
    .w-content-product{
        width: 100%;
        p{
            font-size: 14px;
        }
    }
}