<div class="bg-white product-container">
    <h5 class="text-center mgb-20">{{ title }}</h5>
    <div class="overflow-auto h-300-px">
        <div class="product-box w-100" *ngFor="let item of data">
            <div class="img-box p-3">
                <img [src]="item.img" class="w-100">
            </div>
            <div class="p-3 w-content-product">
                <div class="mgb-10">{{ item.name }}</div>
                <div class="d-flex mgb-10">
                    <fa-icon *ngFor="let itm of ['','','','',''] ; let i = index" [icon]="i < item.rate ? faStarSolid : faStar" class="star-color mgr-10"></fa-icon>
                    <span>{{ item.total_sold }}</span>
                </div>
                <div class="d-flex  align-items-center mgb-10">
                    <div class="fs-small text-gray mgr-10">{{ item.material }}</div>
                    <fa-icon [icon]="faListDots" class="text-dot mgr-5"></fa-icon>
                    <div class="fs-small text-gray mgr-10">{{ item.weight }}</div>
                    <fa-icon [icon]="faListDots" class="text-dot mgr-5"></fa-icon>
                    <div class="fs-small text-gray mgr-10">{{ item.tagline }}</div>
                </div>
                <div class="d-flex  align-items-center mgb-10">
                    <div class="fs-small text-gray mgr-10">{{ item.design_type }}</div>
                    <fa-icon [icon]="faListDots" class="text-dot mgr-5"></fa-icon>
                    <div class="fs-small text-gray mgr-10">{{ item.for }}</div>
                    <fa-icon [icon]="faListDots" class="text-dot mgr-5"></fa-icon>
                    <div class="fs-small text-gray mgr-10">{{ item.use_type }}</div>
                </div>
                <p class="text-justify">{{ utility.set3Dot(item.description, 100) }}</p>
            </div>
        </div>
    </div>
</div>
