<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Banner
    </div>
    <app-table 
      title="Banner List" 
      [data]="data"
      [searchInputData]="searchInputData" 
      addDataText="Add New Banner" 
      [formDataInfo]="
        { 
            module: 'Banner', 
            subModule: 'Add New Banner',
            title: 'Add New Banner',
            backRoute: '/banner',
            formData
        }"
    >
    </app-table>
</div>
