<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / FAQ Categories
    </div> 
    <app-table 
      title="FAQ Categories List" 
      [data]="data"
      [searchInputData]="searchInputData" 
      addDataText="Add New FAQ Categories" 
      [formDataInfo]="
      { 
          module: 'FAQ Categories', 
          subModule: 'Add New FAQ Categories',
          title: 'Add New FAQ Categories',
          backRoute: '/faq-categories',
          formData
      }"
    ></app-table>
</div>
