<div class="w-87-vw p-3">
    <div *ngIf="data" class="py-3">
        <span class="text-primary">Modules</span> /
        <span class="text-primary">{{ data.module}}</span> /
        {{ data.subModule }}
    </div>
    <div *ngIf="data" class="bg-white rounded mgb-40" [ngClass]="isShowNavbar ? 'w-85-vw' : 'w-98-vw'">
        <div class="px-3 pt-3">
            <p>{{ data.title }}</p>
        </div>
        <div class="p-3">
            <div *ngFor="let item of data.formData.data ; let index = index">
                <div class="mgb-20" *ngIf="item.type === 'input-text' && !item.hide">
                    <label class="d-block fs-medium mb-2">
                        {{ item.label }}
                        <span class="text-danger" *ngIf="item.required">*</span>
                    </label>
                    <input 
                      [type]="item.inputType" 
                      pInputText 
                      [placeholder]="item.placeholder" 
                      [ngModel]="item.value"
                      [disabled]="data['formData']['type'] === 'detail' ? true : item.disabled"
                      class="p-2 fs-small w-100" 
                    />
                </div>
                <div class="mgb-20" *ngIf="item.type === 'input-textarea' && !item.hide">
                    <label class="d-block fs-medium mb-2">
                        {{ item.label }}
                        <span class="text-danger" *ngIf="item.required">*</span>
                    </label>
                    <textarea 
                      pInputText 
                      [placeholder]="item.placeholder"
                      [ngModel]="item.value"
                      [disabled]="data['formData']['type'] === 'detail' ? true : item.disabled"
                      class="p-2 fs-small w-100" 
                    >
                    </textarea>
                </div>
                <div class="mgb-20" *ngIf="item.type === 'select-box' && !item.hide">
                    <label class="d-block fs-medium mb-2">
                        {{ item.label }}
                        <span class="text-danger" *ngIf="item.required">*</span>
                    </label>
                    <p-dropdown 
                      [options]="item.options" 
                      optionLabel="name" 
                      [ngModel]="item.value" 
                      [placeholder]="item.placeholder"
                      [disabled]="data['formData']['type'] === 'detail' ? true : item.disabled"
                    ></p-dropdown>
                </div>
                <div class="mgb-20" *ngIf="item.type === 'image' && !item.hide">
                    <label class="d-block fs-medium mb-2">
                        {{ item.label }}
                        <span class="text-danger" *ngIf="item.required">*</span>
                    </label>
                    <div class="card d-flex justify-content-center p-2 col-lg-3 col-sm-6">
                        <p-fileUpload 
                          name="image"
                          url="https://www.primefaces.org/cdn/api/upload.php"
                          (onUpload)="onUpload($event, index)" 
                          [maxFileSize]="1000000" 
                          [chooseLabel]="item.value ? 'Change' : 'Choose'"
                          [auto]="true"
                          [disabled]="data['formData']['type'] === 'detail' ? true : item.disabled"
                          accept="image/*" 
                        >
                        </p-fileUpload>
                        <div *ngIf="item.value" class="w-100 d-flex justify-content-center p-2">
                            <img [src]="item.value" class="w-100 rounded">
                        </div>
                    </div>
                </div>
                <div class="mgb-20 w-100" *ngIf="item.type === 'article' && !item.hide">
                    <label class="d-block fs-medium mb-2">
                        {{ item.label }}
                        <span class="text-danger" *ngIf="item.required">*</span>
                    </label>
                    <quill-editor 
                        class="content-editor w-100" 
                        [placeholder]="item.placeholder" 
                        theme='snow'
                        [modules]="QuillConfiguration"
                        [styles]="{'min-height': '120px'}"
                        (onContentChanged)="onInputArticleChanged($event, index)"
                        (onEditorCreated)="onInputArticleCreated($event, index)"
                    ></quill-editor>
                </div>
            </div>
            <div>
                <button class="btn btn-secondary mgr-10" [routerLink]="data.backRoute">Back</button>
                <button *ngIf="data.formData.type !== 'detail'" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
    </div>