:host ::ng-deep .p-dropdown { 
	width: 100%;
	padding: 0.5rem;
} 

:host ::ng-deep .p-dropdown .p-dropdown-label{ 
	font-size: small !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger{ 
	scale: 0.8;
	width: max-content;
}


:host ::ng-deep .p-dropdown .p-dropdown-icon{ 
	size: 3px;
} 

:host ::ng-deep .p-dropdown-items { 
	font-size: 14px;
	padding: 8px;
} 
:host ::ng-deep .p-ripple { 
	padding: 10px;
	margin-right: 5px;
	font-size: small;
	border-radius: 8px;
	margin-bottom: 10px;
} 
:host ::ng-deep .p-fileupload-buttonbar{ 
	width: max-content;
	border: 0;
} 
:host ::ng-deep .p-fileupload-content { 
	border: 0;
} 
:host ::ng-deep .p-ripple .p-icon-wrapper{ 
	margin-right: 5px;
} 
:host ::ng-deep .p-fileupload-row{ 
	display: none;
} 
