<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Product
    </div>
    <app-table 
      title="Product List" 
      [data]="data"
      [searchInputData]="searchInputData"
      addDataText="Add New Product" 
      [formDataInfo]="
      { 
          module: 'Product', 
          subModule: 'Add New Product',
          title: 'Add New Product',
          backRoute: '/product',
          formData
      }"
    ></app-table>
</div>