.i-group{
    transform: translate(0, -15%);
}

.w-input{
    border: 1px solid #ccc; 
    border-radius: 8px;

    input{
        width: 300px; 
        outline: none; 
        border: 0; 
        border-radius: 8px;
    }
}