<div class="w-100 h-100-vh d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center i-group">
        <img src="/assets/logo.png" alt="logo" class="w-100-px mgb-40">
        <div class="bg-white p-3 card mgb-30">
            <div class="m-x-auto w-100 mgb-30">
                <h5 class="text-center">Welcome Admin</h5>
            </div>
            <div class="mgb-10">
                <div>
                    <labeL class="fs-medium">Email</labeL>&nbsp;<span class="text-danger">*</span>
                </div>            
                <div class="w-input">
                    <input type="text" class="p-1 fs-small">
                </div>
            </div>
            <div class="mgb-30">    
                <div>
                    <labeL class="fs-medium">Password</labeL>&nbsp;<span class="text-danger">*</span>
                </div>        
                <div class="w-input p-1">
                    <input [type]="inputPassType" class="p-1 fs-small">
                    <fa-icon [icon]="inputPassType === 'password' ? faEye : faEyeSlash" class="text-dark-blue" (click)="changeInputPassType()"></fa-icon>
                </div>
            </div>
            <button class="btn bg-dark-blue text-white" routerLink="/">Login</button>
        </div>
        <div>Copyright &copy; 2024 Axlhnbi</div>
    </div>
</div>