.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.footer{
  position: fixed;
  bottom: 0;
  z-index: 3;
}
.main-container {
  display: flex;
  margin-top: 70px;
  min-height: calc(100vh - 210px);
}
app-side-nav{
  z-index: 4;
}