<div class="app-container">
    <div *ngIf="router.url === '/login'">
        <app-login></app-login>
    </div>
    <div *ngIf="router.url !== '/login'">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="main-container">
            <app-side-nav 
              *ngFor="let item of ['',''] ; let i = index" 
              [ngClass]="i <= 0 ? 'position-fixed' : 'invisible'"
            >
            </app-side-nav>
            <router-outlet></router-outlet>
        </div>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>