:host ::ng-deep .p-dropdown { 
	width: 100%;
	padding: 0.5rem;
} 

:host ::ng-deep .p-dropdown .p-dropdown-label{ 
	font-size: small !important;
}

:host ::ng-deep .p-dropdown .p-dropdown-trigger{ 
	scale: 0.8;
	width: max-content;
}


:host ::ng-deep .p-dropdown .p-dropdown-icon{ 
	size: 3px;
} 

:host ::ng-deep .p-dropdown-items { 
	font-size: 14px;
	padding: 8px;
} 

::ng-deep .p-calendar{
	width: 100%;
}


::ng-deep .p-calendar .p-inputtext {
	padding: 10px;
}


/* class="ng-tns-c2791360511-0 p-inputtext p-component ng-star-inserted" */
