<div>
    <div *ngFor="let item of data" class="row">
        <div class="mgb-20 col-lg-6 col-md-12" *ngIf="item.type === 'input-text'">
            <label class="d-block fs-small mb-2">{{ item.label }}</label>
            <input 
              [type]="item.inputType" 
              pInputText 
              [(ngModel)]="item.value"
              [placeholder]="item.placeholder" 
              class="p-2 fs-small w-100" 
            />
        </div>
        <div class="mgb-20 col-lg-6 col-md-12" *ngIf="item.type === 'select-box'">
            <label class="d-block fs-small mb-2">{{ item.label }}</label>
            <p-dropdown 
            [options]="item.options" 
            optionLabel="name" 
            [(ngModel)]="item.value" 
            [placeholder]="item.placeholder"
            ></p-dropdown>
        </div>
        <div class="mgb-20 col-lg-6 col-md-12" *ngIf="item.type === 'date'">
            <label class="d-block fs-small mb-2">{{ item.label }}</label>
            <p-calendar class="fs-small w-100" [(ngModel)]="item.value" [placeholder]="item.placeholder"  selectionMode="range"></p-calendar>
        </div>
    </div>
    <div class="mgb-20">
        <button class="btn text-light bg-dark-blue fs-small mgr-10">
            <fa-icon [icon]="faSearch"></fa-icon>
             Search
        </button>
        <button class="btn btn-dark fs-small" (click)="resetSearchInput()">Reset</button>
    </div>
</div>
