<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Order
    </div>
    <app-table 
      title="Order List" 
      [data]="data"
      [searchInputData]="searchInputData" 
      [formDataInfo]="
      { 
          module: 'Order', 
          subModule: 'Detail Order',
          title: 'Detail Order',
          backRoute:'/order',
          formData
      }"
    >
    </app-table>
</div>
