@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import 'quill/dist/quill.core.css';
@import 'quill/dist/quill.bubble.css';
@import 'quill/dist/quill.snow.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
  font-family: "Poppins", sans-serif;
}
.app-container {
  overflow: hidden;
  background-color: #f2f3f5;
}
.bg-white{
  background-color: white;
}
.bg-dark-blue{
  background-color: var(--blue-900) !important;
}
.mgr-5{
  margin-right: 5px;
}
.mgr-10{
  margin-right: 10px;
}
.mgb-10{
  margin-bottom: 10px;
}
.mgb-20{
  margin-bottom: 20px;
}
.mgb-30{
  margin-bottom: 30px !important;
}
.mgb-40{
  margin-bottom: 40px;
}
.w-30{
  width: 30%;
}
.w-85-vw{
  width: 85vw;
}
.w-87-vw{
  width: 87vw;
}
.w-98-vw{
  width: 98vw;
}
.w-max-content{
  width: max-content;
}
.w-100-px{
  width: 100px;
}
.w-150-px{
  width: 150px;
}
.min-w-100{
  min-width: 100%;
}
.h-300-px{
  height: 300px;
}
.h-100-vh{
  height: 100vh;
}
.pointer{
  cursor: pointer;
}
.text-justify{
  text-align: justify;
}
.text-dark-blue{
  color: var(--blue-900) !important;
}
.text-gray{
  color: #aaa;
}
.fs-small{
  font-size: small !important;
}
.fs-medium{
  font-size: medium;
}

@media (max-width: 1190px){
  .w-85-vw{
    width: 80vw;
  }
  .w-98-vw{
    width: 97vw;
  }
}

@media (max-width: 1083px){
  .w-85-vw{
    width: 78vw;
  }
}

@media (max-width: 990px){
  .w-85-vw{
    width: 75vw;
  }
  .w-98-vw{
    width: 96vw;
  }
}

@media (max-width: 875px){
  .w-85-vw{
    width: 70vw;
  }
}

@media (max-width: 768px){
  .w-85-vw{
    width: 85vw;
  }
}

@media (max-width: 730px){
  .w-98-vw{
    width: 95vw;
  }
}

@media (max-width: 700px){
  .w-85-vw{
    width: 83vw;
  }
}

@media (max-width: 640px){
  .w-85-vw{
    width: 80vw;
  }
}

@media (max-width: 554px){
  .w-85-vw{
    width: 78vw;
  }
  .w-98-vw{
    width: 93vw;
  }
}

@media (max-width: 549px){
  .w-85-vw{
    width: 76vw;
  }
}

@media (max-width: 441px){
  .w-85-vw{
    width: 73vw;
  }
  .w-98-vw{
    width: 91vw;
  }
}

@media (max-width: 375px){
  .w-85-vw{
    width: 70vw;
  }
}