<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Application Update
    </div>
    <app-table 
      title="Application Update List" 
      [searchInputData]="searchInputData" 
      [data]="data"
      addDataText="Add New Application" 
      [formDataInfo]="
      { 
          module: 'Aplication Update', 
          subModule: 'Add New Application',
          title: 'Add New Application',
          backRoute: '/aplication',
          formData
      }"
    >
    </app-table>
</div>
