.content-container{
    padding: 10px;
    min-height: 90vh;
}
.content-width{
    width: 87vw;
}

.content-width-hide{
    width: 100vw;
}

@media (max-width: 1190px){
    .content-width{
      width: 84vw;
    }
  }

  @media (max-width: 1140px){
    .content-width{
      width: 83vw;
    }
  }
  
  @media (max-width: 1083px){
    .content-width{
      width: 82vw;
    }
  }
  
  @media (max-width: 990px){
    .content-width{
      width: 79vw;
    }
  }
  
  @media (max-width: 875px){
    .content-width{
      width: 78vw;
    }
  }

  @media (max-width: 832px){
    .content-width{
      width: 76vw;
    }
  }
  
  @media (max-width: 768px){
    .content-width{
      width: 90vw;
    }
  }
  
  @media (max-width: 730px){
    .w-98-vw{
      width: 95vw;
    }
  }
  
  @media (max-width: 700px){
    .content-width{
      width: 89vw;
    }
  }
  
  @media (max-width: 640px){
    .content-width{
      width: 88vw;
    }
  }
  
  @media (max-width: 554px){
    .content-width{
      width: 87vw;
    }
  }
  
  @media (max-width: 549px){
    .content-width{
      width: 86vw;
    }
  }
  
  @media (max-width: 441px){
    .content-width{
      width: 83vw;
    }
  }
  
  @media (max-width: 375px){
    .content-width{
      width: 80vw;
    }
  }