<div class="content-container" [ngClass]="showNavbar ? 'content-width' : 'content-width-hide'">
    <div class="row">
        <div class="col-lg-3 mgb-10">
            <app-panel-info-icon [data]="infoIconData"></app-panel-info-icon>
        </div>
        <div class="col-lg-3 mgb-10">
            <app-panel-info-icon 
                [data]="{
                    data_name: 'User',
                    total: 49,
                    iconBgColorClass: 'bg-danger',
                    icon: 'faUser',
                    route:'/user'
                }">
            </app-panel-info-icon>
        </div>
        <div class="col-lg-3 mgb-10">
            <app-panel-info-icon 
                [data]="{
                    data_name: 'Categories',
                    total: 4,
                    iconBgColorClass: 'bg-secondary',
                    icon: 'faLayerGroup',
                    route:'/categories'
                }">
            </app-panel-info-icon>
        </div>
        <div class="col-lg-3 mgb-10">
            <app-panel-info-icon 
                [data]="{
                    data_name: 'Product',
                    total: 88,
                    iconBgColorClass: 'bg-warning',
                    icon: 'faCartShopping',
                    route:'/product'
                }">
            </app-panel-info-icon>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 mgb-10">
            <app-panel-info-icon 
                [data]="{
                    data_name: 'Order',
                    total: 7,
                    iconBgColorClass: 'bg-success',
                    icon: 'faListCheck',
                    route:'/order'
                }">
            </app-panel-info-icon>
        </div>
        <div class="col-lg mgb-10">
            <app-panel-info
                [data]="{
                    data_name: 'Payment',
                    total: 300,
                    headBgColorClass: 'bg-secondary',
                    headColorClass: 'text-light',
                    time_period: 'This Month',
                    route:'/payment'
                }"
            >
            </app-panel-info>
        </div>
        <div class="col-lg mgb-10">
            <app-panel-info
                [data]="{
                    data_name: 'Sales',
                    total: 250,
                    headBgColorClass: 'bg-warning',
                    headColorClass: 'text-light',
                    time_period: 'This Month',
                    route:'/order'
                }"
            >
            </app-panel-info>
        </div>
        <div class="col-lg mgb-10">
            <app-panel-info
                [data]="{
                    data_name: 'Purchases',
                    total: 100,
                    headBgColorClass: 'bg-danger',
                    headColorClass: 'text-light',
                    time_period: 'This Month',
                    route:'/order'
                }"
            >
            </app-panel-info>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mgb-10">
            <app-chart 
                title="2024 Monthlhy Sale"
                [data]="salesData" 
                [options]="optionsSales" 
                type="line" 
            >
            </app-chart>
        </div>
        <div class="col-lg-6 mgb-10">
            <app-chart 
                title="Top 5 Sales By Province"
                [data]="topProvinceData" 
                [options]="optionsProvince" 
                type="bar" 
            >
            </app-chart>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mgb-10">
            <app-map title="Sales Map 2024"></app-map>
        </div>
        <div class="col-lg-6 mgb-10">
            <app-product-list [data]="productData" title="Best Seling Products"></app-product-list>
        </div>
    </div>
</div>
