<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Broadcast
    </div> 
    <app-table 
      title="Broadcast List" 
      [data]="data"
      [searchInputData]="searchInputData" 
      addDataText="Create New Broadcast"
      [formDataInfo]="
        { 
            module: 'Broadcast', 
            subModule: 'Create New Broadcast',
            title: 'Create New Broadcast',
            backRoute: '/broadcast',
            formData
        }"
    >
    </app-table>
</div>
