<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / FAQ
    </div> 
    <app-table 
      title="FAQ List" 
      [searchInputData]="searchInputData" 
      addDataText="Add New FAQ" 
      [data]="data"
      [formDataInfo]="
      { 
          module: 'FAQ', 
          subModule: 'Add New FAQ',
          title: 'Add New FAQ',
          backRoute: '/faq',
          formData
      }"
    ></app-table>
</div>
