table{
    th, td{
        font-size: small;
        padding: 12px;
    }

    th{
        height: 60px;
    }

    p-avatar{
        width: 5px;
    }

    .btn{
        font-size: small;
    }
    a, button{
        margin-right: 10px;
    }
    .border-bottom{
        border-bottom: 1px solid #ddd;
    }
}