<div class="bg-white rounded mgb-40" [ngClass]="isShowNavbar ? 'w-85-vw' : 'w-98-vw'">
    <div class="px-3 pt-3">
        <p>{{ title }}</p>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12">
                <button *ngIf="searchInputData" class="btn text-light bg-dark-blue fs-small mgb-20 w-100" (click)="handleShowOrHideSearchButton()">
                    <fa-icon [icon]="faSearch"></fa-icon>
                    Advanced Search
                </button>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-12 col offset-xl-6 offset-lg-6 offset-md-0 offset-sm-0">
                <button *ngIf="addDataText && formDataInfo" class="btn fs-small text-light mgb-20 bg-dark-blue w-100" (click)="openPage()">
                    <fa-icon [icon]="faAdd"></fa-icon>
                    {{ addDataText }}
                </button>
            </div>
        </div>
        <div class="pdt-10">
            <app-advanced-search *ngIf="isShowBtnSearch" [data]="searchInputData"></app-advanced-search>
        </div>
    </div>
    <div class="col-12 m-auto overflow-auto">
        <table class="w-max-content border-top min-w-100">
            <thead>
                <tr class="border-bottom">
                    <th *ngFor="let th of data.head" scope="col">{{ th.text }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tr of data.body ; let i = index" [ngClass]="i === data.body.length - 1 ? '' : 'border-bottom'">
                    <td *ngIf="isUseNumber">
                        {{ i+1 }}
                    </td>
                    <td *ngFor="let td of tr.data">
                        <span *ngIf="td.type === 'text' && !td.sort">{{ td.content }}</span>
                        <span *ngIf="td.type === 'text' && td.sort">{{ utility.set3Dot(td.content, td.sort) }}</span>
                        <div *ngIf="td.type === 'status'">
                            <div [class]="td.class">{{ td.content }}</div>
                        </div>
                        <div *ngIf="td.type === 'platform'" [class]="td.class">
                            <fa-icon 
                                *ngIf="td.icon" 
                                class="mx-2"
                                [icon]=" td.icon === 'faMobileAndroidAlt' ? faMobileAndroidAlt : faAppleAlt"
                            ></fa-icon>
                            <div>{{ td.content }}</div>
                        </div>
                        <div *ngIf="td.type === 'buttons'">
                            <a *ngFor="let a of td.anchors" [class]="a.class" [href]="a.href">
                                <fa-icon 
                                  *ngIf="a.icon" 
                                  [icon]="
                                    a.icon === 'faEdit' ? faEdit : 
                                    a.icon === 'faBan' ? faBan : 
                                    a.icon === 'faSearch' ? faSearch : 
                                    a.icon === 'faEye' ? faEye : 
                                    a.icon === 'faCheck' ? faCheck : faTrash"
                                 ></fa-icon>
                                {{ a.text }}
                            </a>
                            <button 
                                *ngFor="let button of td.buttons" 
                                [class]="button.class"
                                (click)="button.action == 'openPage' ? openPage(i, button.props) : ''"
                            >
                                <fa-icon 
                                  *ngIf="button.icon" 
                                  [icon]="
                                    button.icon === 'faEdit' ? faEdit : 
                                    button.icon === 'faBan' ? faBan : 
                                    button.icon === 'faSearch' ? faSearch : 
                                    button.icon === 'faEye' ? faEye : 
                                    button.icon === 'faCheck' ? faCheck : 
                                    faTrash"
                                ></fa-icon>
                                {{ button.text }}
                            </button>
                        </div>
                        <p-avatar 
                            *ngIf="td.type === 'avatar'"
                            [image]="td.content"
                            [shape]="td.shape" 
                            [size]="td.size"
                        ></p-avatar>
                        <div *ngIf="td.type === 'innerContent'" [innerHtml]="td.sort ? utility.set3Dot(td.content, td.sort) : td.content"></div>
                    </td>                             
                </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example" class="p-3" *ngIf="data && data.body.length > 10">
        <ul class="pagination pagination-sm justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
</div>
