<div class="w-87-vw p-3">
    <div class="py-3">
        <span class="text-primary">Modules</span> / Payment
    </div>
    <app-table 
      title="Payment List" 
      [data]="data"
      [searchInputData]="searchInputData" 
    >
    </app-table>
</div>
